<% provide(:title, 'Sign up') %>
<h1>Listing 5.33: Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h2>Listing 7.17</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %> <%# Rails helper. see Section 7.2.3 for discussion of the magic %>

      <%= render 'shared/error_messages' %> <%# Listing 7.22 - punt to new partial %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
