<%# Listing 7.10: title and h1 %>
<% provide(:title, @user.name) %>

<%# Listing 7.14: wrapped in row.span4 section%>
<div class="row">
  <aside class="span4">
  	<section>
      <h1>
      	<%= gravatar_for @user, size: 40 %> <%# Listing 7.12; size from Listing 7.29 %>
      	<%= @user.name %>
      </h1>
    </section>
  </aside>

  <%# Listing 10.20 %>
  <div class="span8">
    <% if @user.microposts.any? %> <%# don't display empty list (corner case) %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3> <%# count() through association %>
      <ol class="microposts">
        <%= render @microposts %> <%# "defers heavy lifting to a micropost partial" %>
      </ol>
      <%= will_paginate @microposts %> <%# pre-emptive pagination (requires controller instance variable) %>
    <% end %>
  </div>

</div>


